@font-face {
    font-family: "thumbcramp";
    src: url(fonts/thumbcramp.otf);
  }

@font-face {
  font-family: "thumbcramp-dingbats";
  src: url(fonts/thumbcramp-dingbats.otf);
}

body {
    margin: 0; 
    padding: 0;
    font-size: 3vw;
    font-family: Arial, sans-serif;
    overflow-y: hidden; /*hidden body scroll but visible parentDiv scroll */
    cursor: url("https://unpkg.com/nes.css@2.1.0/assets/cursor.png"),auto;
}

div {
    box-sizing: border-box;
}

::-webkit-scrollbar { /*background of scrollbar */
    -webkit-appearance: scroll;
    width: /*15px*/0px;
    height: /*10px*/0px;
    background-color: white;
}

::-webkit-scrollbar-thumb { /*thumb of scrollbar */
    border-radius: /*10px*/0px;
    border-style: solid;
    border-color: black;
    border-width: 1pt;
    height: /*10px*/0px; /* perhaps better if invisible? */
    width: /*15px*/0px;  /* or is the scrollbar a key element? */
    background-color: white;
}

#parent-div {
    background-color: /*#ebff00*/ white;
    height: 100vh;
    width: 100vw;
    overflow-y: scroll;
    user-select: none;
    transition: width 0.25s;
}

#parent-div.active {
    width: 66vw;
}

#menu {
    width: 34vw;
    transform: translateX(34vw);
    transition: transform 0.25s;
    border-left: 1px solid black;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 0.9em;
    overflow-y: scroll;
}

#menu-title, #download-otf {
    text-transform: uppercase;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid black;
}

#download-otf{
  border-top: 1px solid black;
}

#download-otf a{
  text-decoration: none;
  cursor: url("https://unpkg.com/nes.css@2.1.0/assets/cursor-click.png"),auto;
  color:black;
}

#menu-content {
    padding: 0.75rem 1rem;
}

.grad {
    color:inherit;
    margin-top: 0.75rem;
}

#menu.active {
    transform: translateX(0);
}

.gdshow, .endless, .place, .date {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid black;
    line-height: 0.9em;
}

.gdshow {
    text-align: justify;
    text-align-last: justify;
    font-size: 1em;
    
}

.endless {
    font-size: 3.5em;
    text-align: left;
}

.place {
    text-align: right;
    font-size: 2.25em;
}

.date {
    text-align: left;
    font-size: 2.25em;
}

span.nomargins {
    font-family: "thumbcramp";
    transition: transform 0.25s;
    display: inline-block;
}

span.nomargins:hover {
  color:black;
  cursor: url("https://unpkg.com/nes.css@2.1.0/assets/cursor-click.png"),auto;
  transform: rotate(180deg);
}

span.ss01 {
    font-feature-settings: "ss01";
}

span.ss02 {
    font-feature-settings: "ss02";
}

#menu-content a{
  color: inherit;
  text-decoration: none;
}

#menu-content a:hover {
  color:black;
  cursor: url("test.png") 64 64,auto;
}



